/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.cal-week-view .cal-time-events .cal-day-column {
  margin-right: 10px;
}

.cal-week-view .cal-hour {
  width: calc(100% + 10px);
}

.cal-disabled {
  background-color: #eee;
  pointer-events: none;
}

.cal-disabled .cal-day-number {
  opacity: 0.1;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
