.calendar{
  padding: 32px;
  background: #424242;
  height: 100%;
  overflow: auto;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3{
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 48px;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-bottom: 48px;
  
  .button {
    margin-right: 16px;
    padding: 0;
    // outline-offset: 4px;
    display: block;
    cursor: pointer;

 
    .front {
      display: block;
      padding: 16px 32px;
      background-color: greenyellow;
      color: black;
      border: black 2px solid;
      transform: translate(-6px, -6px);
      &:hover{
        background-color: green;
        color: white;
      }

      &:active {
        transform: translate(-2px, -2px);
      }
  
    }

    background-color: red;

  }


}