#cal-top-bar {
  display: flex;
  align-items: center;
  border-bottom: #efefef 1px solid;
  padding-right: 32px;
  position: fixed;
  top: 0;
  z-index: 1000;

  .mr-16 {
    margin-right: 16px;
  }

  .ml-auto {
    margin-left: auto;
  }

  .back-button {
    margin-right: 16px;
  }

  .logo {
    min-width: 32px;
    min-height: 32px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 16px;
    background-color: #2d2d2d;
    border-radius: 80px;
    margin-right: 16px;
  }

  .cal-title {
    margin-right: 16px;
  }

  .calendar-nav {
    margin-right: 16px;

    .mat-icon {
      font-size: 16px;
    }
  }

  .cal-date-range {
    margin-right: 16px;
  }

  .cal-view {
    margin-left: auto;
    margin-right: 16px;

    .cal-view-trigger {
      padding-right: 4px;

      .mat-icon {
        margin-left: 4px;
      }
    }

  }

}




.main-container {
  padding-top : 64px;
  height: 100%;
  .calendar {
    padding: 16px;
    // background: #424242;
    // height: 100%;
    // max-height: 600px;
    // overflow: auto;
  }



  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {

    font-weight: 700;
    margin: 0;
    margin-bottom: 48px;
  }



  mat-sidenav {
    // position: relative;

    max-width: 300px;
    background-color: #efefef;
    // padding: 24px;
    padding-top: 88px;
    
  }

  .participant-container {
    padding: 24px;
  }

  .expansion-panel {
    border: none;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 16px;




    .mat-expansion-panel-header {
      // padding-left: 0;
      font-weight: 600;
      color: #2d2d2d;
      display: flex;
      align-items: center;
       
      h2 {
        margin: 0;
        margin-right: 16px;
      }

      .mat-expansion-indicator::after {
        color: #2d2d2d;
      }
    }      

    form {
      mat-form-field {
        width: 100%;
        margin-bottom: 16px;
      }
      
      button {
        display: block;
        margin-left: auto;
      }
    }

    table {
      width: 100%;

      .participant-row{ 
        cursor: pointer;
        &:hover {
          background-color: rgba(0,0,0,0.01)
        }

      }
    };
  }



}