:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;


  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
  );  
  animation: AnimateBG 20s ease infinite;
}



.logo {
  color: white;
  text-align: center;
  .mat-icon {
    margin: 0;
    height: 75px;
    width: 75px;
    font-size: 75px;  
    margin-bottom: 24px;
  
  }
  
  h1{
    font-weight: 900;
    font-size: 48px;
  }
  margin-bottom: 44px;
}


.header {
  h1{
    margin-bottom: 16px;
  }

  p {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0,0,0,.3);
  }
  a {
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: #3f51b5;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  margin-bottom: 44px;
}

mat-card {
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }
  padding: 24px 32px;

  h1{
    margin-bottom: 44px;
    font-weight: 900;
    color: #2d2d2d;
  }

  mat-form-field {
    min-width: 300px;
    width: auto;
  }

  .actions {
    display: flex;
    justify-content: end;
    width: 100%;
  }

}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}