<mat-toolbar id="cal-top-bar" class="top-bar">
  <button routerLink='/dashboard' class="back-button" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="logo" style="background-image: url('https://gradient-avatar.glitch.me/{{ calendar?.title }}?size=32');">
    {{ calendar?.title | slice:0:2 }}
  </div>
  <h2 class="cal-title">{{ calendar?.title }}</h2>
  <div class="calendar-nav">
    <button mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
    <button mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
      <mat-icon>arrow_forward_ios_new</mat-icon>
    </button>
  </div>
  <h2 class="cal-date-range">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
  <div class="cal-view">
    <button mat-stroked-button class="cal-view-trigger" [mat-menu-trigger-for]="calViewMenu">{{ view }}<mat-icon>
        arrow_drop_down</mat-icon></button>
    <mat-menu #calViewMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="changeView(CalendarView.Day)">Day</button>
      <button mat-menu-item (click)="changeView(CalendarView.Week)">Week</button>
      <button mat-menu-item (click)="changeView(CalendarView.Month)">Month</button>
    </mat-menu>
  </div>
  <button mat-stroked-button class="mr-16" routerLink="/{{id}}/participants">Manage participants</button>
  <button mat-raised-button 
          color="primary" 
          (click)="handleEventUpdateSubmit()"
          matBadge="&#8203;" matBadgeColor="warn"
          matBadgeHidden={{eventsAreSaved}}>Save Events</button>
</mat-toolbar>
<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-expansion-panel [expanded]="calendarDetailsOpened" class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Calendar Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form id="update-calendar-form" [formGroup]="updateCalendarForm">
       <mat-form-field appearance="outline">
         <mat-label>Title</mat-label>
         <input matInput placeholder="title" id="title" formControlName="title" required>
       </mat-form-field>
 
       <mat-form-field appearance="outline">
         <mat-label>Start</mat-label>
         <input [min]="minDate"  formControlName="startDate" matInput [matDatepicker]="startPicker">
         <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
         <mat-datepicker #startPicker></mat-datepicker>
         <mat-hint>MM-DD-YYY</mat-hint>
       </mat-form-field>
 
       <mat-form-field appearance="outline">
         <mat-label>End</mat-label>
         <input [min]="minDate"  formControlName="endDate" matInput [matDatepicker]="endPicker">
         <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
         <mat-datepicker #endPicker></mat-datepicker>
         <mat-hint>MM-DD-YYY</mat-hint>
       </mat-form-field>
 
       <mat-form-field appearance="outline">
         <mat-label>Start Time</mat-label>
         <input matInput placeholder="Start time" id="startTime" type="time" formControlName="startTime" required>
         <mat-hint>HH:MM</mat-hint>
        </mat-form-field>
 
       <mat-form-field appearance="outline">
         <mat-label>End Time</mat-label>
         <input matInput placeholder="End time" id="endTime"  type="time" formControlName="endTime" required>
         <mat-hint>HH:MM</mat-hint>
       </mat-form-field>

       <button (click)="handleCalendarUpdateSubmit()" mat-raised-button color="primary">Update Calendar Details</button>
       
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="eventConfigOpened" class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Event Configuration
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="eventConfigForm">
        <mat-form-field appearance="outline">
          <mat-label>Default Duration</mat-label>
          <input matInput type="number" (change)="handleDurationChange()"   formControlName="duration" placeholder="Default Duration">
          <mat-hint>Number of minutes</mat-hint>

        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Default Title</mat-label>
          <input matInput (change)="handleTitleChange()" formControlName="title" placeholder="Default Title">
          <mat-hint>Default title for created events</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Default Event Description</mat-label>
          <textarea matInput 
                    (change)="handleDescriptionChange()"
                    formControlName="description"
                    placeholder="Event description ..."
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="5"></textarea>
        <mat-hint>Default event description</mat-hint>

        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Default Location</mat-label>
          <input matInput (change)="handleLocationChange()" formControlName="location" placeholder="Location">
          <mat-hint>Video conference link or location</mat-hint>

        </mat-form-field>
  
        
        <button (click)="handleEventConfigSubmit()" mat-raised-button color="primary">Save Settings</button>
        
      </form>
    </mat-expansion-panel>
    
    <mat-expansion-panel [expanded]="false" class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
         Sync Calendars
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="inner-container">
        <button mat-raised-button color="primary" *ngIf="!authorized" class="sign-in" (click)="google()">Sign in with
          Google</button>
        <button mat-raised-button color="primary" *ngIf="authorized" class="sign-in" (click)="getEvents()">Get
          Events</button>
      </div>
    </mat-expansion-panel>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="calendar">

      <div class="calContainer" #scrollContainer [ngSwitch]="view">

        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
          (dayClicked)="dayClicked($event.day.date)" (eventClicked)="eventClicked($event)"
          (beforeViewRender)="beforeMonthViewRender($event)" [refresh]="refresh"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>


        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
          (dayHeaderClicked)="dayClicked($event.day.date)" (hourSegmentClicked)="dayClicked($event.date)"
          (eventClicked)="eventClicked($event)" [hourSegmentTemplate]="weekViewHourSegmentTemplate"
          [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>


        <mwl-calendar-day-view (eventClicked)="eventClicked($event)" *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate" [events]="events" (hourSegmentClicked)="dayClicked($event.date)"
          [hourSegmentTemplate]="weekViewHourSegmentTemplate" [refresh]="refresh" 
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>


      </div>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #weekViewHourSegmentTemplate let-segment="segment" let-locale="locale" let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel">
  <div #segmentElement class="cal-hour-segment" [style.height.px]="segmentHeight"
    [class.cal-hour-start]="segment.isStart" [class.cal-after-hour-start]="!segment.isStart"
    [class.cal-disabled]="!isDateValid(segment.date)" [ngClass]="segment.cssClass">
    <div class="cal-time" *ngIf="isTimeLabel">
      {{ segment.date | calendarDate:'weekViewHour':locale }}
    </div>

  </div>
</ng-template>