
<div class="calendar">
  
  <button *ngIf="!authorized" class="sign-in" (click)="google()">Sign in with Google</button> 
  <button *ngIf="authorized" class="sign-in" (click)="getEvents()">Get Events</button> 
  
    <div class="alert alert-info">
      Click on a day or time slot on the view.
      <strong *ngIf="clickedDate"
        >You clicked on this time: {{ clickedDate | date:'medium' }}</strong
      >
      <strong *ngIf="clickedColumn !== undefined"
        >You clicked on this column: {{ clickedColumn }}</strong
      >
    </div>
    <div class="nav">
      <ul >
        <li><a class="button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"  ><span class="front">Previous</span></a></li>
        <li><a class="button" mwlCalendarToday [(viewDate)]="viewDate"><span class="front">Today</span></a></li>
        <li><a class="button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"><span class="front">Next</span></a></li>
      </ul>
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      <ul >
        <li><a class="button" (click)="changeView(CalendarView.Day)"><span class="front">Day view</span></a></li>
        <li><a class="button" (click)="changeView(CalendarView.Week)"><span class="front">Week view</span></a></li>
        <li><a class="button" (click)="changeView(CalendarView.Month)"><span class="front">Month view</span></a></li>
      </ul>
    </div>
    
    <div [ngSwitch]="view">
     
      <mwl-calendar-month-view 
        *ngSwitchCase="CalendarView.Month"  
        [viewDate]="viewDate"
        [events]="events"
        (dayClicked)="dayClicked($event.day.date)"
        (eventClicked)="eventClicked($event)"
        (beforeViewRender)="beforeMonthViewRender($event)"
        > 
      </mwl-calendar-month-view>
      
      
      <mwl-calendar-week-view 
      *ngSwitchCase="CalendarView.Week" 
      [viewDate]="viewDate"
      [events]="events"
      (dayHeaderClicked)="dayClicked($event.day.date)"
      (hourSegmentClicked)="dayClicked($event.date)"
      (eventClicked)="eventClicked($event)"
      [hourSegmentTemplate]="weekViewHourSegmentTemplate"
      >
  
      </mwl-calendar-week-view>
 
  
      <mwl-calendar-day-view 
      *ngSwitchCase="CalendarView.Day" 
      [viewDate]="viewDate"
      [events]="events">
      </mwl-calendar-day-view>
      
  
    </div>
  
    
  </div>


  <ng-template
    #weekViewHourSegmentTemplate
    let-segment="segment"
    let-locale="locale"
    let-segmentHeight="segmentHeight"
    let-isTimeLabel="isTimeLabel"
  >
    <div
      #segmentElement
      class="cal-hour-segment"
      [style.height.px]="segmentHeight"
      [class.cal-hour-start]="segment.isStart"
      [class.cal-after-hour-start]="!segment.isStart"
      [class.cal-disabled]="!dateIsValid(segment.date)"
      [ngClass]="segment.cssClass"
    >
      <div class="cal-time" *ngIf="isTimeLabel">
        {{ segment.date | calendarDate:'weekViewHour':locale }}
      </div>

  </div>
</ng-template>
  